@import "../variables.css";

.containerCard {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
    box-shadow: 0 16px 14px 0 #04152d;
    padding: 18px 24px;
    max-width: 345px;
}

.imageCard {
    margin-bottom: 20px;
}

.titleCard {
    font-size: 25px;
    font-weight: 700;
}

.descriptionCard {
    margin-top: 6px;
    font-size: 25px;
    font-weight: 400;
}

.skillsCard {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    list-style: none;
}

.skillCard {
    font-size: 25px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--color-dark);
    padding: 2px 22px;
}

.linksCard {
    width: 100%;
    margin-top: 26px;
    display: flex;
    justify-content: space-around;
}

.linkCard {
    text-decoration: none;
    color: var(--color-text);
    font-size: 30px;
    font-weight: 600;
    border-radius: 100px;
    background: var(--color-primary);
    padding: 1px 22px;
}