@import "../variables.css";


.aboutContainer {
    position: relative;
    background-color: rgba(12, 12, 12, 0.6);
    border-radius: 15px;
    padding: 73px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.aboutTitre {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.aboutContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutImage {
  width: 35%;
  padding-right: 20px;
}

.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  /* gap: 50px; */
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  background: linear-gradient(90deg, rgba(165, 215, 232, 0.42) 0%, rgba(255,255,255, 0) 100%);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
  gap: 10px;
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem img {
  height: 80px;
  width: 100px;
  border-radius: 10px;
}

.fill {
  object-fit: fill;
}

.aboutItem h3 {
    font-size: 25px;
    font-weight: 600;
}

.aboutItem p {
    font-size: 20px;
}

@media screen and (max-width: 830px) {
    .aboutImage {
        padding: 20px 0;
        display: none;
    }

    .aboutContainer {
        background: transparent;
        padding-left: 0;
        padding-right: 0;
    }

    .aboutContent {
        flex-direction: column;
    }

    .aboutItems {
        margin-top: 20px;
    }

    .aboutItem {
        padding-left: 0;
        padding-right: 0;
    }
}