@import "../variables.css";

.containerCompCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
    box-shadow: 0 16px 14px 0 #04152d;
    padding: 10px 20px;
    width: 30%;
}

.color2 {
    background: linear-gradient(180deg, #bc57a3 0%, #531345 100%);
    /* width: 20%;
    height: 200px; */
}

.imageCompCard {
    height: 75px;
    padding-right: 20px;
}

.titleCompCard {
    font-size: 25px;
    font-weight: 700;
    height: 100%;
    text-align: center;
    max-width: 50%;
}

.large {
    max-width: 70%;
    font-size: 20px;
}

/* .descriptionCompCard {
    margin-top: 6px;
    font-size: 25px;
    font-weight: 400;
} */
