@import "../variables.css";

.containerCompetences {
    margin-top: 76px;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
}

.titleCompetences {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.titleComp {
    font-size: 25px;
}

.competences {
    margin-top: 37px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

